# create index
PUT /flink_order
{
 "mappings" : {
  "_doc" : {
    "numeric_detection": true,
      "dynamic_date_formats": [
        "yyyy-MM-dd'T'HH:mm:ss.SSSZZ"
    ],
   "properties" : {
    "id":{"type":"keyword"},
    "num":{"type":"long"},
    "price":{"type":"double"},
    "gmv":{"type":"double"}
   }
  }
 }
}

# get
get /flink_order/_search

# delete..
delete /flink_order