#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# INFRA
/.github/ @wolfboys
/dist-material/ @wolfboys
.asf.yaml @wolfboys
.editorconfig @wolfboys
.gitignore @wolfboys
.licenserc.yaml @wolfboys

# BUILD
/.husky/ @wolfboys
/.mvn/ @wolfboys
/script/update_version.py @Al-assad
/tools/checkstyle/ @lvshaokang
build.sh @wolfboys @MonsterChenzhuo

# POM
pom.xml @wolfboys

# DOCKER
/deploy/ @MonsterChenzhuo

# DOCS
README.md @wolfboys
README_CN.md @wolfboys
CODE_OF_CONDUCT.md @wolfboys
SECURITY.md @wolfboys

# COMMON
/streampark-common/ @wolfboys

# CONSOLE
/streampark-console/streampark-console-service/ @wolfboys @MonsterChenzhuo @lvshaokang @xinzhuxiansheng
/streampark-console/streampark-console-service/src/assembly/script/ @wolfboys
/streampark-console/streampark-console-webapp/ @wolfboys

# FLINK
/streampark-flink/streampark-flink-connector/ @wolfboys @monrg
/streampark-flink/streampark-flink-core/ @lvshaokang
/streampark-flink/streampark-flink-kubernetes/ @MonsterChenzhuo @xinzhuxiansheng @Al-assad
/streampark-flink/streampark-flink-packer/ @wolfboys
/streampark-flink/streampark-flink-proxy/ @wolfboys
/streampark-flink/streampark-flink-repl/ @wolfboys
/streampark-flink/streampark-flink-shims/ @wolfboys @lvshaokang
/streampark-flink/streampark-flink-sqlclient/ @wolfboys
/streampark-flink/streampark-flink-submit/ @lvshaokang @MonsterChenzhuo @xinzhuxiansheng
/streampark-flink/streampark-flink-udf/ @wolfboys

# SPARK
/streampark-spark/ @wolfboys @GuoNingNing @lvshaokang

# YARN
/streampark-common/**/Yarn*.scala @wolfboys @lvshaokang
/streampark-flink-submit/**/Yarn*.scala @wolfboys @lvshaokang

# PLUGIN
/streampark-plugin/ @wolfboys

# STORAGE
/streampark-storage/ @MonsterChenzhuo @lvshaokang


