<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.streamxhub.streamx.console.core.dao.ApplicationLogMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.ApplicationLog">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="JOB_ID" jdbcType="BIGINT" property="jobId"/>
        <result column="YARN_APP_ID" jdbcType="VARCHAR" property="yarnAppId"/>
        <result column="SUCCESS" jdbcType="INTEGER" property="success"/>
        <result column="EXCEPTION" jdbcType="LONGVARCHAR" property="exception"/>
        <result column="OPTION_TIME" jdbcType="DATE" property="optionTime"/>
    </resultMap>

</mapper>
