<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.ApplicationMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.Application">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PROJECT_ID" jdbcType="BIGINT" property="projectId"/>
        <result column="MODULE" jdbcType="VARCHAR" property="module"/>
        <result column="ARGS" jdbcType="LONGVARCHAR" property="args"/>
        <result column="OPTIONS" jdbcType="LONGVARCHAR" property="options"/>
        <result column="DYNAMIC_OPTIONS" jdbcType="LONGVARCHAR" property="dynamicOptions"/>
        <result column="HOT_PARAMS" jdbcType="VARCHAR" property="hotParams"/>
        <result column="JOB_NAME" jdbcType="VARCHAR" property="jobName"/>
        <result column="APP_ID" jdbcType="VARCHAR" property="appId"/>
        <result column="VERSION_ID" jdbcType="BIGINT" property="versionId"/>
        <result column="FLINK_IMAGE" jdbcType="VARCHAR" property="flinkImage"/>
        <result column="K8S_NAMESPACE" jdbcType="VARCHAR" property="k8sNamespace"/>
        <result column="APP_TYPE" jdbcType="INTEGER" property="appType"/>
        <result column="JOB_TYPE" jdbcType="INTEGER" property="jobType"/>
        <result column="RESOURCE_FROM" jdbcType="INTEGER" property="resourceFrom"/>
        <result column="EXECUTION_MODE" jdbcType="INTEGER" property="executionMode"/>
        <result column="TRACKING" jdbcType="INTEGER" property="tracking"/>
        <result column="JAR" jdbcType="VARCHAR" property="jar"/>
        <result column="JAR_CHECK_SUM" jdbcType="VARCHAR" property="jarCheckSum"/>
        <result column="MAIN_CLASS" jdbcType="VARCHAR" property="mainClass"/>
        <result column="JOB_ID" jdbcType="VARCHAR" property="jobId"/>
        <result column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="START_TIME" jdbcType="DATE" property="startTime"/>
        <result column="END_TIME" jdbcType="DATE" property="endTime"/>
        <result column="DURATION" jdbcType="BIGINT" property="duration"/>
        <result column="STATE" jdbcType="INTEGER" property="state"/>
        <result column="CP_MAX_FAILURE_INTERVAL" jdbcType="INTEGER" property="cpMaxFailureInterval"/>
        <result column="CP_FAILURE_RATE_INTERVAL" jdbcType="INTEGER" property="cpFailureRateInterval"/>
        <result column="CP_FAILURE_ACTION" jdbcType="INTEGER" property="cpFailureAction"/>
        <result column="RESTART_SIZE" jdbcType="INTEGER" property="restartSize"/>
        <result column="RESTART_COUNT" jdbcType="INTEGER" property="restartCount"/>
        <result column="LAUNCH" jdbcType="INTEGER" property="launch"/>
        <result column="BUILD" jdbcType="BOOLEAN" property="build"/>
        <result column="FLAME_GRAPH" jdbcType="BOOLEAN" property="flameGraph"/>
        <result column="RESOLVE_ORDER" jdbcType="INTEGER" property="resolveOrder"/>
        <result column="TOTAL_TM" jdbcType="INTEGER" property="totalTM"/>
        <result column="TOTAL_SLOT" jdbcType="INTEGER" property="totalSlot"/>
        <result column="AVAILABLE_SLOT" jdbcType="INTEGER" property="availableSlot"/>
        <result column="TOTAL_TASK" jdbcType="INTEGER" property="totalTask"/>
        <result column="JM_MEMORY" jdbcType="INTEGER" property="jmMemory"/>
        <result column="TM_MEMORY" jdbcType="INTEGER" property="tmMemory"/>
        <result column="OPTION_STATE" jdbcType="INTEGER" property="optionState"/>
        <result column="ALERT_EMAIL" jdbcType="VARCHAR" property="alertEmail"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="K8S_REST_EXPOSED_TYPE" jdbcType="INTEGER" property="k8sRestExposedType"/>
        <result column="K8S_POD_TEMPLATE" jdbcType="LONGVARCHAR" property="k8sPodTemplate"/>
        <result column="K8S_JM_POD_TEMPLATE" jdbcType="LONGVARCHAR" property="k8sJmPodTemplate"/>
        <result column="K8S_TM_POD_TEMPLATE" jdbcType="LONGVARCHAR" property="k8sTmPodTemplate"/>
        <result column="K8S_HADOOP_INTEGRATION" jdbcType="TINYINT" property="k8sHadoopIntegration"/>
        <result column="REST_URL" jdbcType="VARCHAR" property="restUrl"/>
        <result column="REST_PORT" jdbcType="INTEGER" property="restPort"/>
    </resultMap>

    <select id="page" resultType="application" parameterType="application">
        SELECT t.*,p.name as projectName,u.username,v.version as flinkVersion FROM t_flink_app t
        inner join t_user u
        on t.user_id = u.user_id
        left join t_flink_env v
        on t.version_id = v.id
        left join t_flink_project p
        on t.project_id = p.id
        <where>
            <if test="application.jobType != null and application.jobType != ''">
                AND t.job_type = #{application.jobType}
            </if>
            <if test="application.jobTypeArray != null and application.jobTypeArray.length>0">
                AND t.job_type IN
                <foreach item="item" index="index" collection="application.jobTypeArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="application.executionMode != null and application.executionMode != ''">
                AND t.execution_mode = #{application.executionMode}
            </if>
            <if test="application.jobName != null and application.jobName != ''">
                AND t.job_name like '%${application.jobName}%'
            </if>
            <if test="application.projectName != null and application.projectName != ''">
                AND p.name like '%${application.projectName}%'
            </if>
            <if test="application.appId != null and application.appId != ''">
                AND t.app_id = #{application.appId}
            </if>
            <if test="application.state != null and application.state != ''">
                AND t.state = #{application.state}
            </if>
            <if test="application.stateArray != null and application.stateArray.length>0">
                AND t.state IN
                <foreach item="item" index="index" collection="application.stateArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getApp" resultType="application" parameterType="application">
        SELECT t.*, p.name as projectName
        FROM t_flink_app t left join t_flink_project p
        on t.project_id = p.id
        where t.id = #{application.id}
    </select>

    <update id="updateTracking" parameterType="application">
        update t_flink_app
        <set>
            <if test="application.jobId != null and application.jobId != ''">
                job_id=#{application.jobId},
            </if>
            <if test="application.tracking != null">
                tracking=#{application.tracking},
            </if>
            <if test="application.state != null">
                state=#{application.state},
            </if>
            <if test="application.launch != null">
                launch=#{application.launch},
            </if>
            <if test="application.optionState != null">
                option_state=#{application.optionState},
            </if>
            <if test="application.startTime != null">
                start_time=#{application.startTime},
            </if>
            <if test="application.endTime != null">
                end_time=#{application.endTime},
            </if>
            <if test="application.duration != null">
                duration=#{application.duration},
            </if>
            <if test="application.totalTM != null">
                total_tm=#{application.totalTM},
            </if>
            <if test="application.totalSlot != null">
                total_slot=#{application.totalSlot},
            </if>
            <if test="application.totalTask != null">
                total_task=#{application.totalTask},
            </if>
            <if test="application.availableSlot != null">
                available_slot=#{application.availableSlot},
            </if>
            <if test="application.jmMemory != null">
                jm_memory=#{application.jmMemory},
            </if>
            <if test="application.tmMemory != null">
                tm_memory=#{application.tmMemory},
            </if>
        </set>
        where id=#{application.id}
    </update>
</mapper>
