<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.EffectiveMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.Effective">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="target_type" jdbcType="BIGINT" property="targetType"/>
        <result column="target_id" jdbcType="BIGINT" property="targetId"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>
</mapper>
