<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.FlameGraphMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.FlameGraph">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="APP_ID" jdbcType="BIGINT" property="appId"/>
        <result column="TIMELINE" jdbcType="DATE" property="timeline"/>
        <result column="PROFILER" jdbcType="VARCHAR" property="profiler"/>
        <result column="CONTENT" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
</mapper>
