<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.FlinkSqlMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.FlinkSql">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="APP_ID" jdbcType="BIGINT" property="appId"/>
        <result column="SQL" jdbcType="LONGVARCHAR" property="sql"/>
        <result column="CANDIDATE" jdbcType="INTEGER" property="candidate"/>
        <result column="DEPENDENCY" jdbcType="VARCHAR" property="dependency"/>
        <result column="CREATE_TIME" jdbcType="DATE" property="createTime"/>
    </resultMap>
</mapper>
