<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.Project">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="REPOSITORY" jdbcType="INTEGER" property="repository"/>
        <result column="BRANCHES" jdbcType="VARCHAR" property="branches"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="POM" jdbcType="VARCHAR" property="pom"/>
        <result column="BUILD_ARGS" jdbcType="VARCHAR" property="buildArgs"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="LAST_BUILD" jdbcType="TIMESTAMP" property="lastBuild"/>
        <result column="BUILD_STATE" jdbcType="INTEGER" property="buildState"/>
        <result column="DATE" jdbcType="TIMESTAMP" property="date"/>
    </resultMap>

    <select id="findProject" resultType="project" parameterType="project">
        SELECT * FROM t_flink_project t
        <where>
            <if test="project.name != null and project.name != ''">
                AND t.name like '%${project.name}%'
            </if>
            <if test="project.buildState != null">
                AND t.build_state = #{project.buildState}
            </if>
        </where>
    </select>


</mapper>
