<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.Project">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="repository" jdbcType="INTEGER" property="repository"/>
        <result column="branches" jdbcType="VARCHAR" property="branches"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="pom" jdbcType="VARCHAR" property="pom"/>
        <result column="build_args" jdbcType="VARCHAR" property="buildArgs"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="last_build" jdbcType="TIMESTAMP" property="lastBuild"/>
        <result column="build_state" jdbcType="INTEGER" property="buildState"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
    </resultMap>

    <select id="findProject" resultType="project" parameterType="project">
        select *,b.team_name as teamName
        from t_flink_project t
        left join t_team b on t.team_id = b.team_id
        <where>
            <if test="project.name != null and project.name != ''">
                and t.name like '%${project.name}%'
            </if>
            <if test="project.buildState != null">
                and t.build_state = #{project.buildState}
            </if>
            <if test="project.teamIdList != null and project.teamIdList.size>0">
                and t.team_id in
                <foreach item="item" index="index" collection="project.teamIdList" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getCountByTeam" resultType="java.lang.Long">
        select count(1) as count
        from t_flink_project where team_id = #{teamId}
    </select>


</mapper>
