<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.core.dao.SettingMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.core.entity.Setting">
        <result column="NUM" jdbcType="INTEGER" property="num"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="KEY" jdbcType="VARCHAR" property="key"/>
        <result column="VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    </resultMap>
</mapper>
