@import './reset.css';
@import './transition.css';
@import './naive.css';

html,
body,
#app {
    height: 100%;
}
.color-weak {
    filter: invert(80%);
}

.gray-mode {
    filter: grayscale(100%);
}

.drag-handle {
    cursor: move;
}

.tip-info {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.5;
    color: var(--n-text-color-3);
}
