<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.streampark.console.core.mapper.ApplicationConfigMapper">
    <resultMap id="BaseResultMap" type="org.apache.streampark.console.core.entity.ApplicationConfig">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_id" jdbcType="BIGINT" property="appId"/>
        <result column="format" jdbcType="INTEGER" property="format"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="latest" jdbcType="BOOLEAN" property="latest"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>
</mapper>
