<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.streampark.console.core.mapper.ApplicationMapper">

    <update id="resetOptionState">
        update t_flink_app
        set option_state = 0
    </update>

    <select id="existsByTeamId" resultType="java.lang.Boolean" parameterType="java.lang.Long">
        select
            CASE
                WHEN  count(1) > 0 THEN true ELSE false
            END
        from t_flink_app
        where team_id = #{teamId}
        limit 1
    </select>

    <select id="existsByJobName" resultType="java.lang.Boolean" parameterType="java.lang.String">
        select
            CASE
                WHEN  count(1) > 0 THEN true ELSE false
            END
        from t_flink_app
        where job_name = #{jobName}
        limit 1
    </select>

    <select id="existsJobByClusterId" resultType="java.lang.Boolean" parameterType="java.lang.Long">
        SELECT
            CASE
                WHEN  count(1) > 0 THEN true ELSE false
            END
        FROM t_flink_app
        WHERE flink_cluster_id = #{clusterId}
        limit 1
    </select>

    <select id="existsRunningJobByClusterId" resultType="java.lang.Boolean" parameterType="java.lang.Long">
        select
            CASE
                WHEN  count(1) > 0 THEN true ELSE false
            END
        from t_flink_app
            where flink_cluster_id = #{clusterId}
             and state = 5
             limit 1
    </select>

    <select id="getByProjectId" resultType="org.apache.streampark.console.core.entity.Application" parameterType="java.lang.Long">
        select * from t_flink_app where project_id=#{projectId}
    </select>

    <select id="page" resultType="org.apache.streampark.console.core.entity.Application" parameterType="org.apache.streampark.console.core.entity.Application">
        select
            t.*,
            p.name as projectName,
            u.username,
           case
               when trim(u.nick_name) = ''
                   then u.username
               else u.nick_name
            end as nickname,
            v.version as flinkVersion
        from t_flink_app t
        inner join t_user u
        on t.user_id = u.user_id
        left join t_flink_env v
        on t.version_id = v.id
        left join t_flink_project p
        on t.project_id = p.id
        <where>
            t.team_id = #{application.teamId}
            <if test="application.jobType != null and application.jobType != ''">
                and t.job_type = #{application.jobType}
            </if>
            <if test="application.jobTypeArray != null and application.jobTypeArray.length>0">
                and t.job_type in
                <foreach item="item" index="index" collection="application.jobTypeArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="application.executionMode != null and application.executionMode != ''">
                and t.execution_mode = #{application.executionMode}
            </if>
            <if test="application.jobName != null and application.jobName != ''">
                <if test="_databaseId == 'mysql'">
                    and t.job_name like concat('%', #{application.jobName},'%')
                </if>
                <if test="_databaseId == 'pgsql'">
                    and t.job_name like '%' || #{application.jobName} || '%'
                </if>
            </if>
            <if test="application.projectName != null and application.projectName != ''">
                <if test="_databaseId == 'mysql'">
                    and p.name like concat('%', #{application.projectName},'%')
                </if>
                <if test="_databaseId == 'pgsql'">
                    and p.name like '%' || #{application.projectName} || '%'
                </if>
            </if>
            <if test="application.state != null and application.state != ''">
                and t.state = #{application.state}
            </if>
            <if test="application.userId != null and application.userId != ''">
                and t.user_id = #{application.userId}
            </if>
            <if test="application.stateArray != null and application.stateArray.length>0">
                and t.state in
                <foreach item="item" index="index" collection="application.stateArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="application.tags != null and application.tags != ''">
                <if test="_databaseId == 'mysql'">
                    and t.tags like concat('%', #{application.tags},'%')
                </if>
                <if test="_databaseId == 'pgsql'">
                    and t.tags like '%' || #{application.tags} || '%'
                </if>
            </if>
        </where>
    </select>

    <select id="getApp" resultType="org.apache.streampark.console.core.entity.Application" parameterType="org.apache.streampark.console.core.entity.Application">
        select t.*, p.name as projectName
        from t_flink_app t left join t_flink_project p
        on t.project_id = p.id
        where t.id = #{application.id}
    </select>

    <update id="persistMetrics" parameterType="org.apache.streampark.console.core.entity.Application">
        update t_flink_app
        <set>
            <if test="application.jobId != null and application.jobId != ''">
                job_id=#{application.jobId},
            </if>
            <if test="application.tracking != null">
                tracking=#{application.tracking},
            </if>
            <if test="application.optionState != null">
                option_state=#{application.optionState},
            </if>
            <if test="application.startTime != null">
                start_time=#{application.startTime},
            </if>
            <if test="application.endTime != null">
                end_time=#{application.endTime},
            </if>
            <if test="application.duration != null">
                duration=#{application.duration},
            </if>
            <if test="application.state != null">
                state=#{application.state},
            </if>
            <choose>
                <when test="@org.apache.streampark.console.core.enums.FlinkAppState@isEndState(application.state)">
                    total_tm=null,
                    total_slot=null,
                    total_task=null,
                    available_slot=null,
                    jm_memory=null,
                    tm_memory=null,
                </when>
                <otherwise>
                    <if test="application.totalTM != null">
                        total_tm=#{application.totalTM},
                    </if>
                    <if test="application.totalSlot != null">
                        total_slot=#{application.totalSlot},
                    </if>
                    <if test="application.totalTask != null">
                        total_task=#{application.totalTask},
                    </if>
                    <if test="application.availableSlot != null">
                        available_slot=#{application.availableSlot},
                    </if>
                    <if test="application.jmMemory != null">
                        jm_memory=#{application.jmMemory},
                    </if>
                    <if test="application.tmMemory != null">
                        tm_memory=#{application.tmMemory},
                    </if>
                </otherwise>
            </choose>
        </set>
        where id=#{application.id}
    </update>

    <select id="getByTeamId" resultType="org.apache.streampark.console.core.entity.Application" parameterType="java.lang.Long">
        select
            t.*,
            u.username,
            case
                when trim(u.nick_name) = ''
                    then u.username
                else u.nick_name
            end as nick_name
        from t_flink_app t
        inner join t_user u
        on t.user_id = u.user_id
        where t.team_id=#{teamId}
    </select>

    <update id="mapping" parameterType="org.apache.streampark.console.core.entity.Application">
        update t_flink_app
        <set>
            <if test="application.clusterId != null">
                cluster_id=#{application.clusterId},
            </if>
            <if test="application.jobId != null">
                job_id=#{application.jobId},
            </if>
            end_time=null,
            state=14,
            tracking=1
        </set>
        where id=#{application.id}
    </update>

    <update id="updateJobManagerUrl" >
        update t_flink_app
        set job_manager_url = #{url}
        where id = #{id}
    </update>

    <select id="getRecentK8sNamespace" resultType="java.lang.String" parameterType="java.lang.Integer">
        select k8s_namespace
        from (
            select k8s_namespace, max(create_time) as ct
            from t_flink_app
            where k8s_namespace is not null
            group by k8s_namespace
            order by ct desc
        ) as ns
        limit #{limitSize}
    </select>

    <select id="getRecentK8sClusterId" resultType="java.lang.String" parameterType="java.util.Map">
        select cluster_id
        from (
            select c.cluster_id, max(a.create_time) as ct
            from t_flink_app a inner join t_flink_cluster c
            on a.flink_cluster_id = c.id
            where a.execution_mode = 5
            group by c.cluster_id
            order by ct desc
        ) as ci
        limit #{limitSize}
    </select>

    <select id="getRecentFlinkBaseImage" resultType="java.lang.String" parameterType="java.lang.Integer">
        select flink_image
        from (
            select flink_image, max(create_time) as ct
            from t_flink_app
            where flink_image is not null
            and execution_mode = 6
            group by flink_image
            order by ct desc
        ) as fi
        limit #{limitSize}
    </select>

    <select id="getRecentK8sPodTemplate" resultType="java.lang.String" parameterType="java.lang.Integer">
        select k8s_pod_template
        from (
            select k8s_pod_template, max(create_time) as ct
            from t_flink_app
            where k8s_pod_template is not null
            and k8s_pod_template !=''
            and execution_mode = 6
            group by k8s_pod_template
            order by ct desc
        ) as pt
        limit #{limitSize}
    </select>

    <select id="getRecentK8sJmPodTemplate" resultType="java.lang.String" parameterType="java.lang.Integer">
        select k8s_jm_pod_template
        from (
            select k8s_jm_pod_template, max(create_time) as ct
            from t_flink_app
            where k8s_jm_pod_template is not null
            and k8s_jm_pod_template != ''
            and execution_mode = 6
            group by k8s_jm_pod_template
            order by ct desc
        ) as pt
        limit #{limitSize}
    </select>

    <select id="getRecentK8sTmPodTemplate" resultType="java.lang.String" parameterType="java.lang.Integer">
        select k8s_tm_pod_template
        from (
            select k8s_tm_pod_template, max(create_time) as ct
            from t_flink_app
            where k8s_tm_pod_template is not null
            and k8s_tm_pod_template != ''
            and execution_mode = 6
            group by k8s_tm_pod_template
            order by ct desc
        ) as pt
        limit #{limitSize}
    </select>

</mapper>
