<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.streampark.console.core.mapper.FlinkClusterMapper">
    <select id="findPage" resultType="org.apache.streampark.console.core.entity.FlinkCluster">
        select * from t_flink_cluster
        <where>
            <if test="cluster.clusterName != null and cluster.clusterName != ''">
                <if test="_databaseId == 'mysql'">
                    and cluster_name like concat('%', #{cluster.clusterName},'%')
                </if>
                <if test="_databaseId == 'pgsql'">
                    and cluster_name like '%' || #{cluster.clusterName} || '%'
                </if>
            </if>
        </where>
    </select>

    <select id="existsByClusterId" resultType="java.lang.Boolean">
        select
         CASE
           WHEN  count(1) > 0 THEN true ELSE false
         END
        from t_flink_cluster
        <where>
            cluster_id=#{clusterId}
            <if test="id != null">
                and id &lt;&gt; #{id}
            </if>
        </where>
        limit 1
    </select>

    <select id="existsByClusterName" resultType="java.lang.Boolean">
        select
         CASE
           WHEN  count(1) > 0 THEN true ELSE false
         END
        from t_flink_cluster
        <where>
            cluster_name=#{clusterName}
            <if test="id != null">
                and id &lt;&gt; #{id}
            </if>
        </where>
        limit 1
    </select>

</mapper>
