<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.streampark.console.core.mapper.SparkApplicationMapper">
    <resultMap id="BaseResultMap" type="org.apache.streampark.console.core.entity.SparkApplication">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="team_id" jdbcType="BIGINT" property="teamId"/>
        <result column="job_type" jdbcType="INTEGER" property="jobType"/>
        <result column="app_type" jdbcType="INTEGER" property="appType"/>
        <result column="version_id" jdbcType="BIGINT" property="versionId"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="execution_mode" jdbcType="INTEGER" property="executionMode"/>
        <result column="resource_from" jdbcType="INTEGER" property="resourceFrom"/>
        <result column="project_id" jdbcType="BIGINT" property="projectId"/>
        <result column="module" jdbcType="VARCHAR" property="module"/>
        <result column="main_class" jdbcType="VARCHAR" property="mainClass"/>
        <result column="jar" jdbcType="VARCHAR" property="jar"/>
        <result column="jar_check_sum" jdbcType="VARCHAR" property="jarCheckSum"/>
        <result column="app_conf" jdbcType="LONGVARCHAR" property="appConf"/>
        <result column="app_args" jdbcType="LONGVARCHAR" property="appArgs"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="yarn_queue" jdbcType="VARCHAR" property="yarnQueue"/>
        <result column="k8s_master_url" jdbcType="VARCHAR" property="k8sMasterUrl"/>
        <result column="k8s_container_image" jdbcType="VARCHAR" property="k8sContainerImage"/>
        <result column="k8s_image_pull_policy" jdbcType="TINYINT" property="k8sImagePullPolicy"/>
        <result column="k8s_service_account" jdbcType="VARCHAR" property="k8sServiceAccount"/>
        <result column="k8s_namespace" jdbcType="VARCHAR" property="k8sNamespace"/>
        <result column="hadoop_user" jdbcType="VARCHAR" property="hadoopUser"/>
        <result column="restart_size" jdbcType="INTEGER" property="restartSize"/>
        <result column="restart_count" jdbcType="INTEGER" property="restartCount"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="options" jdbcType="LONGVARCHAR" property="options"/>
        <result column="option_state" jdbcType="INTEGER" property="optionState"/>
        <result column="option_time" jdbcType="DATE" property="optionTime"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="tracking" jdbcType="INTEGER" property="tracking"/>
        <result column="release" jdbcType="INTEGER" property="release"/>
        <result column="build" jdbcType="BOOLEAN" property="build"/>
        <result column="alert_id" jdbcType="BIGINT" property="alertId"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="modify_time" jdbcType="DATE" property="modifyTime"/>
        <result column="start_time" jdbcType="DATE" property="startTime"/>
        <result column="end_time" jdbcType="DATE" property="endTime"/>
        <result column="duration" jdbcType="BIGINT" property="duration"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
        <result column="used_memory" jdbcType="BIGINT" property="usedMemory"/>
        <result column="max_memory" jdbcType="BIGINT" property="maxMemory"/>
        <result column="total_cores" jdbcType="BIGINT" property="totalCores"/>

    </resultMap>

    <update id="resetOptionState">
        update t_spark_app
        set option_state = 0
    </update>


    <select id="selectAppsByProjectId" resultType="org.apache.streampark.console.core.entity.SparkApplication" parameterType="java.lang.Long">
        select * from t_spark_app where project_id=#{projectId}
    </select>

    <select id="selectPage" resultType="org.apache.streampark.console.core.entity.SparkApplication" parameterType="org.apache.streampark.console.core.entity.SparkApplication">
        select
            t.*,
            p.name as projectName,
            u.username,
           case
               when trim(u.nick_name) = ''
                   then u.username
               else u.nick_name
            end as nickname,
            v.version as sparkVersion
        from t_spark_app t
        inner join t_user u
        on t.user_id = u.user_id
        left join t_spark_env v
        on t.version_id = v.id
        <where>
            t.team_id = #{app.teamId}
            <if test="app.jobType != null and app.jobType != ''">
                and t.job_type = #{app.jobType}
            </if>
            <if test="app.jobTypeArray != null and app.jobTypeArray.length>0">
                and t.job_type in
                <foreach item="item" index="index" collection="app.jobTypeArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="app.executionMode != null and app.executionMode != ''">
                and t.execution_mode = #{app.executionMode}
            </if>
            <if test="app.appName != null and app.appName != ''">
                and t.app_name like concat('%', '${app.appName}', '%')
            </if>
            <if test="app.projectName != null and app.projectName != ''">
                and p.name like concat('%', '${app.projectName}', '%')
            </if>
            <if test="app.appId != null and app.appId != ''">
                and t.app_id = #{app.appId}
            </if>
            <if test="app.state != null and app.state != ''">
                and t.state = #{app.state}
            </if>

            <if test="app.userId != null and app.userId != ''">
                and t.user_id = #{app.userId}
            </if>
            <if test="app.stateArray != null and app.stateArray.length>0">
                and t.state in
                <foreach item="item" index="index" collection="app.stateArray" open="("  close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="app.tags != null and app.tags != ''">
                and t.tags like concat('%', '${app.tags}', '%')
            </if>
        </where>
    </select>

    <select id="selectAppsByTeamId" resultType="org.apache.streampark.console.core.entity.SparkApplication" parameterType="java.lang.Long">
        select
            t.*,
            u.username,
            case
                when trim(u.nick_name) = ''
                    then u.username
                else u.nick_name
            end as nick_name
        from t_spark_app t
        inner join t_user u
        on t.user_id = u.user_id
        where t.team_id=#{teamId}
    </select>

    <update id="mapping" parameterType="org.apache.streampark.console.core.entity.SparkApplication">
        update t_spark_app
        <set>
            <if test="app.appId != null">
                app_id=#{app.appId},
            </if>
            end_time=null,
            state=14,
            tracking=1
        </set>
        where id=#{app.id}
    </update>

    <select id="selectRecentK8sNamespaces" resultType="java.lang.String" parameterType="java.lang.Integer">
        select k8s_namespace
        from (
            select k8s_namespace, max(create_time) as ct
            from t_spark_app
            where k8s_namespace is not null
            group by k8s_namespace
            order by ct desc
        ) as ns
        limit #{limitSize}
    </select>

    <update id="persistMetrics" parameterType="org.apache.streampark.console.core.entity.SparkApplication">
        update t_spark_app
        <set>
            <if test="app.appId != null and app.appId != ''">
                app_id=#{app.appId},
            </if>
            <if test="app.tracking != null">
                tracking=#{app.tracking},
            </if>
            <if test="app.optionState != null">
                option_state=#{app.optionState},
            </if>
            <if test="app.startTime != null">
                start_time=#{app.startTime},
            </if>
            <if test="app.endTime != null">
                end_time=#{app.endTime},
            </if>
            <if test="app.duration != null">
                duration=#{app.duration},
            </if>
            <choose>
                <when test="@org.apache.streampark.console.core.enums.SparkAppStateEnum@isEndState(app.state)">
                    used_memory=null,
                    max_memory=null,
                    total_cores=null,
                </when>
                <otherwise>
                    <if test="app.usedMemory != null">
                        used_memory=#{app.usedMemory},
                    </if>
                    <if test="app.maxMemory != null">
                        max_memory=#{app.maxMemory},
                    </if>
                    <if test="app.totalCores != null">
                        total_cores=#{app.totalCores},
                    </if>
                </otherwise>
            </choose>
            state=#{app.state}
        </set>
        where id=#{app.id}
    </update>

</mapper>
