<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.flink.monitor.core.dao.ApplicationMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.flink.monitor.core.entity.Application">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="PROJECT_ID" jdbcType="BIGINT" property="projectId"/>
        <result column="MODULE" jdbcType="VARCHAR" property="module"/>
        <result column="CONFIG" jdbcType="VARCHAR" property="config"/>
        <result column="ARGS" jdbcType="VARCHAR" property="args"/>
        <result column="OPTIONS" jdbcType="VARCHAR" property="options"/>
        <result column="SHORTOPTIONS" jdbcType="VARCHAR" property="shortOptions"/>
        <result column="APP_NAME" jdbcType="VARCHAR" property="appName"/>
        <result column="YARN_NAME" jdbcType="VARCHAR" property="yarnName"/>
        <result column="APP_ID" jdbcType="VARCHAR" property="appId"/>
        <result column="USER_ID" jdbcType="INTEGER" property="userId"/>
        <result column="STATE" jdbcType="INTEGER" property="state"/>
        <result column="DEPLOY" jdbcType="INTEGER" property="deploy"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="findApplication" resultType="application" parameterType="application">
        SELECT t.*,p.name as projectName,u.username FROM t_flink_app t
        inner join t_flink_project p
        on t.project_id = p.id
        inner join t_user u
        on t.user_id = u.user_id
        <where>
            <if test="application.projectName != null and application.projectName != ''">
                AND p.name like '%${application.projectName}%'
            </if>
            <if test="application.appId != null and application.appId != ''">
                AND t.app_id = #{application.appId}
            </if>
            <if test="application.appName != null and application.appName != ''">
                AND t.app_name = #{application.appName}
            </if>
            <if test="application.yarnName != null and application.yarnName != ''">
                AND t.yarn_name = #{application.yarnName}
            </if>
            <if test="application.state != null and application.state != ''">
                AND t.state = #{application.state}
            </if>
            <if test="application.createTimeFrom != null and application.createTimeFrom !=''">
                And t.create_time between #{application.createTimeFrom} and #{application.createTimeTo}
            </if>
        </where>
    </select>

    <update id="updateDeploy" parameterType="application">
        update t_flink_app
        set deploy=#{application.deploy}
        where project_id=#{application.projectId}
    </update>

</mapper>
