<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.flink.monitor.core.dao.ProjectMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.flink.monitor.core.entity.Project">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="HOME" jdbcType="VARCHAR" property="home"/>
        <result column="PATH" jdbcType="VARCHAR" property="path"/>
        <result column="DATE" jdbcType="TIMESTAMP" property="date"/>
        <result column="SIZE" jdbcType="BIGINT" property="size"/>
        <result column="TYPE" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <select id="findProject" resultType="project" parameterType="project">
        SELECT * FROM t_flink_project t
        <where>
            <if test="project.name != null and project.name != ''">
                AND t.name like '%${project.name}%'
            </if>
            <if test="project.type != null and project.type != ''">
                AND t.type = #{project.type}
            </if>
            <if test="project.dateFrom != null and project.dateFrom !=''">
                And t.date between #{project.dateFrom} and #{project.dateTo}
            </if>
        </where>
    </select>
</mapper>
