@import url("bootstrap.min.css");
@import url("nav.min.css");
@import url("lineicons.min.css");
@import url("font-awesome.min.css");

/* Reboot CSS */
 * {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #747794;
    font-size: 1rem;
    background-color: unset;
}

body.sticky .sidebar, body.sticky .sidebar-toggle {
    margin-top: 80px;
}

.close {
    float: unset !important;
    font-size: unset !important;
    font-weight: unset !important;
    line-height: unset !important;
    color: unset !important;
    text-shadow: unset !important;
    opacity: unset !important;
}

.app-name-link {
    display: none;
}

.github-corner {
    z-index: 9999 !important;
    position: fixed !important;
}

.github-corner svg {
    height: 90px !important;
    width: 90px !important;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
    color: #020710;
    font-weight: 700;
}

.header p {
    color: #747794;
    line-height: 1.8;
    font-size: 1rem;
}

.header a,
.header a:hover,
.header a:focus,
.header a:active {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    color: #020710;
    font-weight: 700;
}

.header ol,
.header ul {
    margin: 0;
    padding: 0;
}

.header ol li,
.header ul li {
    list-style: none;
}

.header img {
    height: auto;
    max-width: 100%;
}

/* Header CSS */
.header .header_area {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: transparent;
}

.header .main_header_area {
    width: 100%;
    -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.08);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.08);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-bottom: 1px solid #f5f5ff;
    background-color: transparent;
}

.header .classy-nav-container {
    position: relative;
    background-color: transparent;
    width: 100%;
}

.header .classy-nav-container .classy-navbar {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    height: 90px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .classy-nav-container .classy-navbar {
        height: 80px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .classy-nav-container .classy-navbar {
        height: 60px;
    }
}

@media only screen and (max-width: 575px) {
    .header .classy-nav-container .classy-navbar {
        height: 60px;
    }
}

.header .classy-nav-container .classy-navbar .classynav ul li a {
    padding: 32px 15px;
    height: auto;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .classy-nav-container .classy-navbar .classynav ul li a {
        padding: 15px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .classy-nav-container .classy-navbar .classynav ul li a {
        padding: 15px;
    }
}

@media only screen and (max-width: 575px) {
    .header .classy-nav-container .classy-navbar .classynav ul li a {
        padding: 15px;
    }
}

.header .classy-nav-container .classy-navbar .classynav ul li .megamenu {
    -webkit-box-shadow: 0 8px 50px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 50px 8px rgba(47, 91, 234, 0.175);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .megamenu {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .megamenu {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

@media only screen and (max-width: 575px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .megamenu {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

.header .classy-nav-container .classy-navbar .classynav ul li .megamenu a {
    padding: 15px;
    text-transform: capitalize;
    color: #747794;
}

.header .classy-nav-container .classy-navbar .classynav ul li .megamenu a:hover,
.header .classy-nav-container .classy-navbar .classynav ul li .megamenu a:focus {
    color: #3f43fd;
}

.header .classy-nav-container .classy-navbar .classynav ul li .dropdown {
    width: 260px;
    -webkit-box-shadow: 0 8px 50px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 50px 8px rgba(47, 91, 234, 0.175);
    padding-top: 18px;
    padding-bottom: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .dropdown {
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .dropdown {
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

@media only screen and (max-width: 575px) {
    .header .classy-nav-container .classy-navbar .classynav ul li .dropdown {
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: #ffffff;
    }
}

.header .classy-nav-container .classy-navbar .classynav ul li .dropdown a {
    padding: 12px 30px;
    text-transform: capitalize;
    border-bottom: 0;
    color: #747794;
}

.header .classy-nav-container .classy-navbar .classynav ul li .dropdown a:hover,
.header .classy-nav-container .classy-navbar .classynav ul li .dropdown a:focus {
    color: #3f43fd;
}

.header .classy-nav-container .classy-navbar .classynav ul li.current_page_item > a {
    color: #3f43fd;
}

.header .classy-nav-container .classy-navbar .classynav ul li:hover > a {
    color: #3f43fd;
}

.header .classynav ul li .megamenu .single-mega .title {
    margin-bottom: 0.8rem;
}

.header .classynav ul li.has-down > a::after,
.header .classynav ul li.megamenu-item > a::after {
    color: #020710;
}

.header .login-btn-area .btn {
    color: #ffffff;
}

.header .classynav ul li.megamenu-item > a:hover::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header .breakpoint-off .classynav ul li .dropdown {
    border-radius: 6px;
    width: 200px;
}

.header .breakpoint-on .classynav ul li ul li a {
    padding: 0 25px;
}

.header .breakpoint-on .classynav ul li.has-down.active > .dd-trigger,
.header .breakpoint-on .classynav ul li.megamenu-item.active > .dd-trigger {
    background-color: #3f43fd;
}

.header .breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-3,
.header .breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-4,
.header .breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-5 {
    background-color: #ffffff;
}

.header .classy-navbar-toggler {
    line-height: 1;
}

.header .classy-navbar-toggler .navbarToggler span {
    background-color: #070a57;
}

.header .breakpoint-on .classy-navbar .classy-menu {
    background-color: #f5f5ff;
}

.header .breakpoint-on .classynav > ul > li > a {
    background-color: transparent;
}

.header .is-sticky .main_header_area {
    -webkit-box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    box-shadow: 0 8px 48px 8px rgba(47, 91, 234, 0.175);
    z-index: 9999999 !important;
    background-color: #ffffff;
    width: 100% !important;
    border-bottom: 1px solid transparent;
}

.header .is-sticky .main_header_area .classy-navbar {
    height: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .is-sticky .main_header_area .classy-navbar {
        height: 70px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .is-sticky .main_header_area .classy-navbar {
        height: 60px;
    }
}

@media only screen and (max-width: 575px) {
    .header .is-sticky .main_header_area .classy-navbar {
        height: 60px;
    }
}

/* White Nav CSS */
.header .header_area.white-nav .main_header_area {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.header .header_area.white-nav .is-sticky .main_header_area {
    background-color: #070a57;
}

.header .header_area.white-nav .classy-nav-container a {
    color: #ffffff;
}

.header .header_area.white-nav .classy-nav-container a:hover,
.header .header_area.white-nav .classy-nav-container a:focus {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header .header_area.white-nav .classy-nav-container a {
        color: #020710;
    }

    .header .header_area.white-nav .classy-nav-container a:hover,
    .header .header_area.white-nav .classy-nav-container a:focus {
        color: #3f43fd;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header .header_area.white-nav .classy-nav-container a {
        color: #020710;
    }

    .header .header_area.white-nav .classy-nav-container a:hover,
    .header .header_area.white-nav .classy-nav-container a:focus {
        color: #3f43fd;
    }
}

@media only screen and (max-width: 575px) {
    .header .header_area.white-nav .classy-nav-container a {
        color: #020710;
    }

    .header .header_area.white-nav .classy-nav-container a:hover,
    .header .header_area.white-nav .classy-nav-container a:focus {
        color: #3f43fd;
    }
}

.header .header_area.white-nav .classynav ul li:hover > a,
.header .header_area.white-nav .classynav ul li.current_page_item > a {
    color: #f1c40f;
}

.header .header_area.white-nav .classynav ul li ul li a {
    color: #020710;
}

.header .header_area.white-nav .classynav ul li ul li a:hover,
.header .header_area.white-nav .classynav ul li ul li a:focus {
    color: #3f43fd;
}

.header .header_area.white-nav .classynav ul li.has-down > a::after,
.header .header_area.white-nav .classynav ul li.megamenu-item > a::after {
    color: #ffffff;
}

.header .header_area.white-nav .login-btn-area .btn {
    color: #ffffff;
}

.header .header_area.white-nav .login-btn-area .btn:hover,
.header .header_area.white-nav .login-btn-area .btn:focus {
    color: #3f43fd;
}

.header .header_area.white-nav .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff;
}

