<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.spark.monitor.core.dao.SparkConfMapper">

    <resultMap id="sparkConf" type="com.streamxhub.spark.monitor.core.domain.SparkConf">
        <id column="MY_ID" jdbcType="VARCHAR" property="myId"/>
        <result column="APP_NAME" jdbcType="VARCHAR" property="appName"/>
        <result column="CONF" jdbcType="VARCHAR" property="conf"/>
        <result column="CONF_VERSION" jdbcType="VARCHAR" property="confVersion"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="getConf" resultType="sparkConf" parameterType="sparkConf">
        SELECT
        t.MY_ID as myId,
        t.APP_NAME as appName,
        t.CONF as conf,
        t.CONF_VERSION as confVersion,
        t.CREATE_TIME as createTime,
        t.MODIFY_TIME modifyTime
        FROM
        t_spark_conf t
        WHERE 1 = 1
        <if test="sparkConf.appName != null and sparkConf.appName != ''">
            AND t.APP_NAME = #{sparkMonitor.appName}
        </if>
        <if test="sparkConf.myId != null and sparkConf.myId != ''">
            AND t.MY_ID = #{sparkMonitor.myId}
        </if>
    </select>

</mapper>
