<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.system.dao.AccessTokenMapper">
    <select id="page" resultType="com.streamxhub.streamx.console.system.entity.AccessToken"
            parameterType="com.streamxhub.streamx.console.system.entity.AccessToken">
        SELECT t1.id,
        t1.user_id,
        t2.username,
        t1.token,
        t1.expire_time,
        t1.create_time,
        t1.modify_time,
        t1.description ,
        t1.`STATUS` as `status`,
        t2.`STATUS` as `userStatus`,
        if(t1.`STATUS`=1 and t2.`STATUS`=1,1,0) as `finalStatus`
        FROM t_access_token t1 join t_user t2 on t1.user_id = t2.user_id
        <where>
            <if test="accessToken.userId != null and accessToken.userId != ''">
                AND t1.user_id = accessToken.userId
            </if>
        </where>
    </select>

    <select id="getByUserId" resultType="com.streamxhub.streamx.console.system.entity.AccessToken">
        SELECT t1.id,
               t1.user_id,
               t2.username,
               t1.token,
               t1.expire_time,
               t1.create_time,
               t1.modify_time,
               t1.description,
               t1.`STATUS` as `status`,
               t2.`STATUS` as `userStatus`,
               if(t1.`STATUS`=1 and t2.`STATUS`=1,1,0) as `finalStatus`
        FROM t_user t2
                 join t_access_token t1 on t1.user_id = t2.user_id
        where t1.user_id = #{userId}
    </select>

    <select id="getByUserToken" resultType="com.streamxhub.streamx.console.system.entity.AccessToken">
        SELECT t1.id,
               t1.user_id,
               t2.username,
               t1.token,
               t1.expire_time,
               t1.create_time,
               t1.modify_time,
               t1.description,
               t1.`STATUS` as `status`,
               t2.`STATUS` as `userStatus`,
               if(t1.`STATUS`=1 and t2.`STATUS`=1,1,0) as `finalStatus`
        FROM t_user t2
            join t_access_token t1 on t1.user_id = t2.user_id
        where t1.user_id = #{userId}
          and t1.token = #{accessToken,jdbcType=VARCHAR}
    </select>

    <select id="getById" resultType="com.streamxhub.streamx.console.system.entity.AccessToken">
        SELECT t1.id,
               t1.user_id,
               t2.username,
               t1.token,
               t1.expire_time,
               t1.create_time,
               t1.modify_time,
               t1.description,
               t1.`STATUS` as `status`,
               t2.`STATUS` as `userStatus`,
               if(t1.`STATUS`=1 and t2.`STATUS`=1,1,0) as `finalStatus`
        FROM t_access_token t1 join t_user t2 on t1.user_id = t2.user_id
        where t1.id= #{id}
    </select>
</mapper>
