<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.system.dao.RoleMapper">
    <resultMap id="roleMap" type="com.streamxhub.streamx.console.system.entity.Role">
        <result column="ROLE_ID" jdbcType="BIGINT" property="roleId"/>
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="findUserRole" resultMap="roleMap">
        select r.*
        from t_role r
         left join t_user_role ur on r.role_id = ur.role_id
         left join t_user u on u.user_id = ur.user_id
        where u.username = #{userName}
    </select>

    <select id="findRole" resultType="role" parameterType="role">
        SELECT t.*
        FROM
        t_role t
        <where>
            <if test="role.roleName != null and role.roleName != ''">
                AND t.role_name like '%${role.roleName}%'
            </if>
            <if test="role.createTimeFrom != null and role.createTimeFrom !=''">
                And t.create_time &gt; #{role.createTimeFrom}
            </if>
            <if test="role.createTimeTo!= null and role.createTimeTo !=''">
                And t.create_time &lt; #{role.createTimeTo}
            </if>
        </where>
        <if test="role.sortField != null and role.sortField != ''">
            order by t.${role.sortField} ${role.sortOrder}
        </if>
    </select>

</mapper>
