<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.streamxhub.streamx.console.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.streamxhub.streamx.console.system.entity.User">
        <id column="USER_ID" jdbcType="BIGINT" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="NICK_NAME" jdbcType="VARCHAR" property="nickName"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="SEX" jdbcType="CHAR" property="sex"/>
        <result column="AVATAR" jdbcType="VARCHAR" property="avatar"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <select id="findUserDetail" resultType="user" parameterType="user">
        SELECT a.*
        FROM
        t_user a
        <if test="user.teamIdList != null and user.teamIdList.size>0">
             join t_team_user b on a.user_id=b.user_id
        </if>
        <where>
            <if test="user.username != null and user.username != ''">
                AND username like '%${user.username}%'
            </if>
            <if test="user.createTimeFrom != null and user.createTimeFrom !=''">
                And create_time &gt; #{user.createTimeFrom}
            </if>
            <if test="user.createTimeTo!= null and user.createTimeTo !=''">
                And create_time &lt; #{user.createTimeTo}
            </if>
            <if test="user.sex != null and user.sex != ''">
                AND sex = #{user.sex}
            </if>
            <if test="user.status != null and user.status != ''">
                AND status = #{user.status}
            </if>

            <if test="user.teamIdList != null and user.teamIdList.size>0">
                AND b.team_id IN
                <foreach item="item" index="index" collection="user.teamIdList" open="("  close=")" separator=",">
                    #{item}
                </foreach>
                GROUP BY a.USER_ID
            </if>
        </where>
        <if test="user.sortField != null and user.sortField != ''">
            order by ${user.sortField} ${user.sortOrder}
        </if>
    </select>
</mapper>
