#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Maven Package Test

on:
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
      - 'deploy/**'
      - 'script/**'
      - 'streampark-console/streampark-console-webapp/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'deploy/**'
      - 'script/**'
      - 'streampark-console/streampark-console-webapp/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  license-header:
    if: github.repository == 'apache/incubator-streampark'
    name: License header
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Check license header
        uses: apache/skywalking-eyes/header@main
  code-style:
    if: github.repository == 'apache/incubator-streampark'
    name: Code style
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Check codestyle for scala 2.11
        run: ./mvnw -B -q -nsu -Pscala-2.11 checkstyle:check spotless:check
      - name: Check codestyle for scala 2.12
        run: ./mvnw -B -q -nsu -Pscala-2.12 checkstyle:check spotless:check
  dead-link:
    if: github.repository == 'apache/incubator-streampark'
    name: Dead links
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v3
      - run: sudo npm install -g markdown-link-check@3.10.3
      - run: |
          for file in $(find . -name "*.md"); do
            markdown-link-check -c .dlc.json -q "$file"
          done
  build:
    name: "maven-compile ( ${{ matrix.scala }}, java-${{ matrix.java }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scala: [ scala-2.11, scala-2.12 ]
        java: [ 8 , 11 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up java ${{ matrix.java }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: "adopt"
          cache: "maven"
      - name: Build with Maven
        run: ./mvnw -B clean package -P${{ matrix.scala }} -DskipTests
      - name: Test with Maven
        run: ./mvnw -B test -P${{ matrix.scala }} -am

