name: Maven Package Test

on:
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
      - 'deploy/**'
      - 'script/**'
      - 'streamx-console/streamx-console-webapp/**'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'deploy/**'
      - 'script/**'
      - 'streamx-console/streamx-console-webapp/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn -B clean package -T 4 -DskipTests
      - name: Test with Maven
        run: mvn -B test -pl '!streamx-plugin/streamx-jvm-profiler,!streamx-console/streamx-console-service' -am
