@import './pagination.less';
@import './input.less';
@import './btn.less';

.ant-image-preview-root {
  img {
    display: unset;
  }
}

span.anticon:not(.app-iconify) {
  vertical-align: 0.125em !important;
}

.ant-back-top {
  right: 20px;
  bottom: 20px;
}

.collapse-container__body {
  >.ant-descriptions {
    margin-left: 6px;
  }
}

.ant-image-preview-operations {
  background-color: rgb(0 0 0 / 30%);
}

.ant-popover {
  &-content {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  }
}

// =================================
// ==============modal message======
// =================================
.modal-icon-warning {
  color: @warning-color !important;
}

.modal-icon-success {
  color: @success-color !important;
}

.modal-icon-error {
  color: @error-color !important;
}

.modal-icon-info {
  color: @primary-color !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after,
.ant-tree-checkbox-checked .ant-tree-checkbox-inner::after {
  border-top: 0 !important;
  border-left: 0 !important;
}

// =================================
// ==============modal message======
// =================================
[data-theme="dark"] {
  .ant-descriptions-bordered .ant-descriptions-item-label {
    background-color: transparent !important;
  }
}

.bold-tag,
.bold-tag>.ant-tag {
  border-radius: 1px !important;
  padding: 0 3px !important;
  cursor: default;
  font-size: 10px;
  line-height: 16px;
}

.app-bar,
div:not(.ant-modal-title)>.streampark-basic-title {
  background-color: @background-color-base;
  height: 100%;
  font-size: 14px !important;
  font-weight: normal;
  margin: 0 32px 0 0 !important;
  padding: 8px 12px !important;
}

.ant-card-body>.streampark-basic-title {
  display: table !important;
}

[data-theme="dark"] .ant-divider-horizontal.ant-divider-with-text::before,
[data-theme="dark"] .ant-divider-horizontal.ant-divider-with-text::after {
  border-top-color: inherit !important;
}
